main {
    margin-left: 100px;
    margin-right: 150px;
}
h1 {
    font-size: 60px;
}
.mission-color {
    color: rgb(179, 124, 24);
}
.flexible-container {
    display: flex;
    margin-top: 100px;
}
.heading-mar {
    padding-left: 10px;
    border-left: 5px solid;
    border-color: rgb(155, 15, 15);
}
    
.button-1-4 {
    text-decoration: none;
    background-color: tomato;
    border-radius: 5px;
    font-weight: 800;
    color: white;
    padding: 10px 40px; 
}
.heading-center {
text-align: center;
}

.mission-vission-goals-img {
    width: 150px;
    height: 150px;
}
.padding {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: none;
    border-radius: 20px;
}
.mission {
background-color: rgb(212, 208, 157);
margin-left: 20px;
}
.vission {
background-color: rgb(150, 179, 184);
margin-left: 20px;
}
.goals {
background-color: rgb(187, 155, 155);
margin-left: 20px;
}

.image-sizing {
    width: 350px;
    height: 370px;
}
.paragraph {
    text-align: justify;
}
.image-right {
    margin-left: 50px;
}
.button-2-3 {
    text-decoration: none;
    font-weight: 800;
    color: white;
    padding: 10px 50px;
    border-color: none;
    border-radius: 5px;
   background-color: tomato;
}
.shape {
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: right;
    margin-left: 100px;
}

.image-left {
    margin-right: 100px;
}

footer {
    margin-top: 100px;
    background-color: black;
    text-align: center;
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    height: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}