main {
    margin-left: 100px;
    margin-right: 150px;
}
h1 {
    font-size: 60px;
}
.mission-color {
    color: rgb(179, 124, 24);
}
.flexible-container {
    display: flex;
}
.section-div {
    margin-top: 100px;
}
.heading-mar {
    padding-left: 5px;
    border-left: 5px solid;
    border-image: linear-gradient( orange, tomato);
    border-image-slice: 1;
}
.button-box {
  border-radius: 4px;
  background-color:#d35400;
  border: none;
  padding: 20px;
  color:white;
  font-weight: 700;
  cursor: pointer;
}
.button-one-four {
    width: 150px;
}
.button-two-three {
    width: 200px;
}
.heading-center {
text-align: center;
}

.mission-vission-goals-img {
    width: 150px;
    height: 150px;
}
.padding {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: none;
    border-radius: 20px;
}
.mission {
background-color: rgb(212, 208, 157);
margin-left: 20px;
}
.vission {
background-color: rgb(150, 179, 184);
margin-left: 20px;
}
.goals {
background-color: rgb(187, 155, 155);
margin-left: 20px;
}
.develop-limit {
    margin-top: 50px;
}

.image-sizing {
    width: 350px;
    height: 370px;
}
.paragraph {
    text-align: justify;
}
.image-right {
    margin-left: 50px;
}

.image-left {
    margin-right: 100px;
}

footer {
    margin-top: 100px;
    background-color: black;
    text-align: center;
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    height: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 5px;
}